body{
    margin: 0;
    padding: 0;
    font-family: Poppins;
}

 /* svg{
    width: 1.7rem;
}  */

ion-icon {
    font-size: 30px;
    color: black;
}

nav a{
   
    text-decoration: none;
    color: #2f2f2f;
    display: block;
        color: black;
        text-decoration: none;
        padding: 14px 20px; 
        float: left;
     
      
} 
button{
    cursor: pointer;
}
.container{
    width: 900px;
    max-width: 90vw;
    margin: auto;
    text-align: center; 
    padding-top: 10px;
    transition: 0.5s;
   
}


.wrap{
    
    display: flex;
  
}

header  .container {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 20px 0;
}


.icon-cart,
.icon-wishlish
{
    
    position: relative;
}
.icon-cart span,
.icon-wishlish span{
    background-color: rgb(245, 73, 159);
    position: absolute;
    top:0.9rem;
    right: -0.2rem;
    width: 1rem;
    height: 1rem;
    color: #fff;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
}

title{
    font-size: xx-large;
}

.tab-item{
    background-color: #353432;
    color: #eee;
    width: 500px;
    max-width: 100%;
    position: fixed;
    top: 0;
     right: 0;
     bottom: 0;
     display: grid;
    grid-template-rows: 70px 1fr 70px;

   
} 

 
.tab-item h1{
    padding: 20px;
    margin: 0;
    font-weight: 300;

}
.tab-item .cart-btn,
.wishlish-btn{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.tab-item  .cart-btn button,
 .wishlish-btn button{
    background-color: #E8BC0E;
    border: none;
    font-family: Poppins;
    font-weight: 500;
}
.tab-item .cart-btn button.close,
 .wishlish-btn button.close{
    background-color: #eee;
}
.tab-item .list-cart
 .list-wishlish{
    overflow: auto;
}
.tab-item .list-cart::-webkit-scrollbar
{
    width: 0;
}
.tab-item{
    right: -800px;
    transition: 0.5s;
}
body.active-tab .tab-item{
    right:0
}
body.active-tab.container{
    transform: translateX(-500px);
}

.tab-item:not(.active-tab){
    display: none;
}
/* 
body.activewishlish.container{
    transform: translateX(-500px);
} */ 